* {
  font-family: "Helvetica", sans-serif;
}

h1.titlebanner {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h2.description {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color:white;
}

h2.brushes {
  background-color: mediumspringgreen;
}

h2.frames {
  background-color: lightcoral;
}

h2.paint {
  background-color: skyblue;
}

.price {
font-weight: bold;
color: blue;
}
